:root {
  --color-navigation: #71abfe;
  --color-light: #FFFFFF;
  --color-background: #000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-background);
}
 
.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65%;
  overflow: hidden;
  border: 0.2rem solid white;
}

input {
  display: none;
}

.slider-images {
  display: flex;
  align-self: start;
  width: 400%;
  transition: all .5s ease;
}
.slider-image {
  width: 25%;
  background-repeat: no-repeat;
  background-size: contain;
}
.slider-image img {
  width: 100%;
  height: 100%;
}

.slider-nav-text-wrapper {
  display: flex;
  width: 100%;
  padding: 3rem 0;
  border-top: 0.2rem solid white;
}

.slider-textes-wrapper {
  padding: 1rem 0;
  flex-basis: 70%;
  overflow: hidden;
}

.slider-textes {
  display: flex;
  width: 400%;
  transition: all .5s ease;
}
.slider-textes-text {
  width: 25%;
  font-size: 2rem;
  font-family: sans-serif;
  color: var(--color-light);
  padding: 0 0.5rem
}
.slider-nav {
  flex-basis: 30%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.label {
  cursor: pointer;;
}
.label:hover .slider-nav-btn {
  background-color: var(--color-light);
  border-color: var(--color-light);
}

.slider-nav-btn {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  border: 0.2rem solid var(--color-navigation);
  background-color: var(--color-navigation);
  margin: 0.5rem;
}


#slide-0:checked~.slider-nav-text-wrapper .slider-nav [for="slide-0"] .slider-nav-btn,
#slide-1:checked~.slider-nav-text-wrapper .slider-nav [for="slide-1"] .slider-nav-btn,
#slide-2:checked~.slider-nav-text-wrapper .slider-nav [for="slide-2"] .slider-nav-btn,
#slide-3:checked~.slider-nav-text-wrapper .slider-nav [for="slide-3"] .slider-nav-btn {
  background-color: transparent;
}

/*  */
#slide-0:checked~.slider-nav-text-wrapper .slider-textes-wrapper .slider-textes {
  transform: translateX(-0%);
}
#slide-1:checked~.slider-nav-text-wrapper .slider-textes-wrapper .slider-textes{
  transform: translateX(-25%);
}
#slide-2:checked~.slider-nav-text-wrapper .slider-textes-wrapper .slider-textes{
  transform: translateX(-50%);
}
#slide-3:checked~.slider-nav-text-wrapper .slider-textes-wrapper .slider-textes{
  transform: translateX(-75%);
}

/*  */

#slide-0:checked~.slider-images {
  transform: translateX(-0%);
}
#slide-1:checked~.slider-images {
  transform: translateX(-25%);
}
#slide-2:checked~.slider-images {
  transform: translateX(-50%);
}
#slide-3:checked~.slider-images {
  transform: translateX(-75%);
}

@media (max-width: 768px) {
  .slider {
    width: 90%;
  }
  .slider-nav-text-wrapper {   
    padding: 1rem 0; 
    flex-direction: column-reverse;
    justify-content: center;    
  }
  .slider-textes-text {
    font-size: 5vw;
  }
  .slider-nav {
    justify-content: center;
  }
}